* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 35, 41);
  font-family: "IBM Plex Sans", sans-serif;
}
/*universal h2 modification*/
h2 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}
/* header{
    background-color: rgb(15,23,42);
    height:60px;
    width: 100%;
} */

main .main-div1 {
  position: absolute;
  left: 100px;
  top: 200px;
  color: white;
  height: 400px;
  width: 500px;
  padding: 10px;
  margin: 10px;
}
main .logo {
  margin: 35px 122px;
}
main .main-div1 h1 {
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
  color: white;
}
p {
  color: darkgrey;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 20px 0;
}
.pre-order,
.order-button {
  background-color: rgb(12, 133, 246);
  padding: 10px 30px;
  color: white;
  cursor: pointer;
}
.get-in-touch {
  padding: 10px 30px;
  color: white;
  background-color: rgb(21, 24, 29);
  margin-left: 10px;
  cursor: pointer;
}
.background-decoration img {
  position: absolute;
  right: 0;
  top: 0;
  width: 800px;
  height: 650px;
}
/*FEATURE SECTION STYLING*/
.feature-section {
  margin: 430px 25px 20px 25px;
  text-align: -webkit-center;
  align-items: center;
  padding: 40px;
  /* line-height: 30px; */
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  line-height: 30px;
  padding-top: 200px;
}
.feature-section .feature1,
.feature2,
.feature3,
.feature4,
.feature5,
.feature6 {
  width: 400px;
  margin-left: 50px;
}
/* PRICE SECTION AND UNLIMITED ACCESS SECTION*/
.price-section {
  margin: 20px;
  box-sizing: border-box;
}
.inner-price-section {
  /* min-width: 600px;
  min-height: 700px; */
  margin: 2rem 500px;
  box-sizing: border-box;
  margin-left: 33rem;
  padding: 20px;
}
.price-section .access-div {
  text-align: -webkit-center;
  width: 398px;
  padding-bottom: 15px;
}
.price-section h2 {
  color: white;
  text-align: justify;
  line-height: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  padding: 10px;
}
.price-section .price-wrap {
  box-sizing: border-box;
  height: auto;
  width: 400px;
  background-color: rgb(44, 48, 57);
}
.price-section .inner-wrap .price-dollar {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 10rem;
}
.price-wrap .rate {
  color: white;
}
.price-section .price-wrap p {
  color: darkgray;
}
.price-section .price-wrap .integer-num {
  color: white;
  font-size: 40px;
  font-weight: 600;
}
#price-list-heading {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin: 5px 10px;
  padding: 5px 10px;
  text-align: center;
}
.price-wrap .ul-list-ele li {
  text-align: center;
  margin: 2px 10px;
  padding: 5px 10px;
  text-decoration: none;
  list-style: none;
}
.price-wrap .order-button {
  margin-left: 77px;
  width: 250px;
  margin-bottom: 10px;
}
/*SOCIAL LINK SECTION*/
.social-link {
  margin: 2rem;
  position: absolute;
  right: 0.5rem;
  bottom: -110rem;
  font-size: xx-large;

  size: 200px;
}
.social-link a {
  color: white;
  margin-left: 5px;
}

/*NOT CONVINCED SECTION*/
.convinced-section {
  display: flex;
  margin: 3rem 14rem;
  height: 115px;
  width: 1071px;
  padding: 20px;
  text-align: center;
  background-color: rgb(21, 28, 26);
}
.convinced-section h2 {
  margin: 14px;
}
.convinced-section button {
  /*how to inherit properties that have been previously defined*/
  background-color: rgb(12, 133, 246);
  margin-top: 13px;
  padding: 14px 28px;
  color: white;
  margin-left: 400px;
  cursor: pointer;
}

/*FOOTER SECTION*/
footer {
  position: fixed;
  display: flex;
  background-color: rgb(21, 28, 26);
  height: 40px;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}
.contact-section .contact-div ul {
  margin: -12px;
  color: white;
  display: flex;
  gap: 13px;
}
.contact-div a {
  color: white;
  text-decoration: none;
  list-style: none;
}
footer .contact-section .contact-div {
  margin-left: 62rem;
}
footer p {
  margin: 10px;
}
